label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.error-message {
    color: #e32;
}

.inputWrapper {
    margin-top: 20px;
}

.inputWrapper input {
    width: 100%;
    height: 40px;
    font-size: 18px;
}